ul.menu {
    font-family: Arial;
    width: 140px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #FFC83D;
}

ul.menu li {
    border: 1px solid #FFC83D;
    border-bottom: none;
    background: #E5F3FE;
    text-align: center;
    padding: 5px;
}

ul.menu li a {
    width: 100%;
    text-decoration: none;
    color: #333;
}

ul.menu li:hover {
    background: #C8E2F7;
}

li a::before {
    content:"👉 "
}
